---
import DefaultLayout from '../layouts/DefaultLayout.astro'
import DashboardWidget from '../components/DashboardWidget.astro';
---

<DefaultLayout title="Dashboard">
  <section>
    <h1>Multiservicios Mendez</h1><br>
    <p class="size-20">Dashboard 🔥</p>
  </section>
  <section class="margin-16">
    <div class="space-content">
      <div class="contents">
        <h2>Resumen</h2>
        <p id="current-time" class="size-12"></p>
      </div>
      <div class="grid small-grid-1 medium-grid-2 large-grid-3 equal-height">
        <DashboardWidget title="Repuestos" number={3} />
        <DashboardWidget
          number={3}
          title="Ventas"
        />
        <div class="radius-large space-96" style="border: 4px dashed grey;"></div>
        <div class="radius-large space-96" style="border: 4px dashed grey;"></div>
        <div class="radius-large space-96" style="border: 4px dashed grey;"></div>
        <div class="radius-large space-96" style="border: 4px dashed grey;"></div>
        <div class="radius-large space-96" style="border: 4px dashed grey;"></div>
        <div class="radius-large space-96" style="border: 4px dashed grey;"></div>
        <div class="radius-large space-96" style="border: 4px dashed grey;"></div>
        <div class="radius-large space-96" style="border: 4px dashed grey;"></div>
        <div class="radius-large space-96" style="border: 4px dashed grey;"></div>
      </div>
    </div>
  </section>
</DefaultLayout>

<script>
  const date = new Date()
  document.querySelector('#current-time').innerHTML = `<em>${date.toDateString()}</em>`
</script>